/* General Styles */
body {
    margin: 0px;
}

html, body { overflow-x: hidden; }  /* Remove white border on the right */

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 35px;
}

p {
    font-size: 30px;
}

a {
    font-size: 20px;
}

.custom {
    color: white;
}

.underline {
    border-bottom: 4px solid grey;
    padding-bottom: 5px; 
}

.underline-black {
    /* border-bottom: 4px solid black;
    padding-bottom: 5px;  */
    
}

.bold {
    font-weight: 500;
}

/* Navbar Section */
.navbar-custom {
    background-color: #323232 !important;
}

.navbar {
    padding: 20px;
}
.nav-link {
    color: white !important;
    margin-right: 70px;
}

.linkedin {
    width: 40px;
}

.github {
    width: 40px;
}

/* intro Section */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 900px;
    background-color: #323232;
}

.sub-heading {
    text-align: right;
}

/* About Me Section */
.wrapper {
    display: flex;
    justify-content: center;
}

.content {
    width: 1180px;
    padding-top: 50px;
    padding-bottom: 150px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.about-heading {
    width: 600px;
}

.thumbnail {
    width: 275px;
}

.code-icon {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    
}

.icon-holder {
    display: flex; 
    align-items: start;
}
/* Contact Form */
.contact {
    background-color: #5E5E5E;
    color: white;
}

.contact-info {
    width: 600px;
    margin-top: 1em;
}

.description {
    font-size: 25px;
}

.form {
    width: 450px;
    padding-top: 85px;
}

input, textarea {
    background-color: #BEBEBE !important;
    border-radius: 0 !important;
    resize: none;
    border: 0 !important;
    line-height: 2.5 !important;
}

button {
    border-radius: 0 !important;
    float: right;
}

/* Footer */
.footer {
    width: auto;
    height: 308px;
    background-color: black;
    color: white;
    padding: 50px 50px;
}

.envelope-icon {
    width: 35px;
    height: 35px;
    margin-right: 30px; 
}

.telephone-icon {
    width: 35px;
    height: 35px;
    margin-right: 30px; 
}

/* Media Queries */
@media (max-width: 768px) {
    .linkedin {
        display: inline-block;
    }
    
    .nav-link {
        margin-right: 25px;
    }
  }